.comments__text{
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comments__author{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment__external{
    display: flex;
    justify-content: center;
    align-items: center;
}
