/*****************************
            BASE
******************************/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon-dots:before {
  content: "\e900";
}

.icon-dropdown:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e902";
}

.icon-filter:before {
  content: "\e903";
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter;
  background-color: #EFF0F6;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

/*****************************
         COMPONENTS
******************************/
.header {
  background-color: #fff;
}

.aside {
  background-color: #161624;
  color: #fff;
  padding: 17px;
  width: 215px;
}

.aside__header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside__logo-text {
  font-weight: 700;
}

.menu-btn {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.menu-btn path {
  transition: fill-opacity 0.2s;
}

.menu-btn:hover path {
  fill-opacity: 1;
}

.aside__main {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.menu__item {
  position: relative;
}

.menu__header {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 44px;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 16px;
}

.menu__toggle-ico {
  margin-left: auto;
  width: 18px;
  height: 18px;
  background-image: url("../svg/arrow.svg");
  background-size: contain;
  background-position: center;
  transform: rotate(-90deg);
}

.menu__header path {
  transition: fill-opacity 0.2s;
}

.menu__header:hover {
  color: white;
}

.menu__header:hover path {
  fill-opacity: 1;
}

.menu__img-box {
  margin-right: 9px;
}

.sub-menu {
  height: 0;
  position: absolute;
  opacity: 0;
}

.menu__header--show ~ .sub-menu {
  height: auto;
  position: relative;
  opacity: 1;
}

.menu__header--show .menu__toggle-ico {
  transform: rotate(0);
}

.sub-menu__link {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sub-menu__link:hover {
  color: white;
}

.sub-menu__link::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-bottom: 5px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transition: border-color 0.2s;
}

.sub-menu__link--active {
  color: #fff;
  font-weight: 700;
}

.aside--hide {
  width: 55px;
}
.aside--hide .aside__header {
  justify-content: center;
}
.aside--hide .aside__logo-link {
  display: none;
}
.aside--hide .menu__img-box {
  margin-right: 0;
}
.aside--hide .menu__text {
  display: none;
}
.aside--hide .menu__toggle-ico {
  display: none;
}
.aside--hide .menu__item {
  display: flex;
  justify-content: center;
}
.aside--hide .sub-menu {
  z-index: -1;
  height: 0;
  position: absolute;
  opacity: 0;
}

.main-title {
  font-size: 24px;
  color: #171717;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header {
  display: flex;
  align-items: center;
  height: 80px;
}

.page-header__title {
  margin-right: auto;
  color: #171717;
  font-weight: 700;
  font-size: 24px;
  font-family: Inter;
}

.create-btn {
  padding: 10px 20px;
  border: 2px solid #2F49D1;
  border-radius: 4px;
  font-weight: 40;
  font-size: 16px;
  color: #2F49D1;
  transition: color 0.3s, background-color 0.3s;
}

.create-btn:hover {
  background-color: #2F49D1;
  color: #fff;
}

.btn-fill {
  background-color: #2F49D1;
  color: #fff;
}

.btn-fill:hover {
  background-color: transparent;
  color: #2F49D1;
}

.table-wrapper {
  background-color: #fff;
  padding-bottom: 18px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.table__th {
  background-color: #EFF0F6;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 50;
  font-size: 14px;
  color: #767676;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 1px 0px #DADBE4, 0px -1px 0px #DADBE4;
  white-space: nowrap;
}

.table__th:first-child {
  padding-left: 20px;
}

.table__th:last-child {
  width: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.table__td {
  height: 64px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #DADBE4;
  color: #767676;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

.table__tr:last-child .table__td {
  border-bottom: none;
}

.table__td:first-child {
  padding-left: 20px;
}

.table__td:last-child {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.user-name {
  display: flex;
  align-items: center;
}

.user-name__img-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 7px;
  flex-shrink: 0;
}

.user-name__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.not-role {
  color: tomato;
}

.info-btn {
  width: 80px;
  line-height: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-green {
  color: #4BDE97;
  background-color: rgba(75, 222, 151, 0.2);
}

.info-yellow {
  color: #FFB648;
  background-color: rgba(255, 182, 72, 0.2);
}

.info-red {
  color: #F26464;
  background-color: rgba(242, 100, 100, 0.2);
}

.info-blue {
  color: #5887FF;
  background-color: rgba(88, 135, 255, 0.2);
}

.info-dark {
  color: #2F49D1;
  background-color: rgba(47, 73, 209, 0.2);
}

.external-link {
  display: block;
  width: 15px;
  height: 15px;
  opacity: 0.5;
}

.external-link__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.thumbnail {
  width: 50px;
  height: 35px;
}

.thumbnail__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumbnail__custom {
  background-color: #e5e5e5;
  border: 1px solid #b9b9b9;
  color: #484848;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .pagination {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: right;
}

.page-item {
  width: 45px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.page-item.active {
  border-bottom: 2px solid #2F49D1;
}

.page-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item:first-child,
.page-item:last-child {
  background-color: #2F49D1;
  color: #fff;
  font-size: 25px;
  border-radius: 4px;
}

.page-item:first-child.disabled {
  background-color: rgba(47, 73, 209, 0.3);
}

.page-item:last-child.disabled {
  background-color: rgba(47, 73, 209, 0.3);
}

.filter-box {
  height: 85px;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.filter-box__button {
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  color: #B9B9B9;
  border: 2px solid #EEEEEE;
  border-radius: 4px;
  padding: 0 15px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter-box__button::before {
  content: "\e903";
  font-family: icomoon;
  margin-right: 7px;
  font-size: 24px;
}

.drop-down {
  font-size: 16px;
  color: #B9B9B9;
  margin-right: 20px;
}

.drop-down__select {
  position: relative;
}

.drop-down__button {
  min-width: 250px;
  height: 45px;
  border: 2px solid #EEEEEE;
  border-radius: 4px;
  background-color: #fff;
  color: #B9B9B9;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.drop-down__button::after {
  content: "\e901";
  font-family: icomoon;
  font-size: 30px;
}

.drop-down__list {
  display: none;
  position: absolute;
  top: 48px;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 5px 6px 0;
  cursor: pointer;
  overflow: hidden;
}

.drop-down__select--open .drop-down__list {
  display: block;
}
.drop-down__select--open .drop-down__button {
  outline: 2px solid rgba(88, 135, 255, 0.3);
}

.drop-down__list-item {
  height: 45px;
  border: 2px solid #EEEEEE;
  display: flex;
  align-items: center;
  border-bottom: none;
  padding-left: 20px;
  white-space: nowrap;
}

.drop-down__list-item:hover {
  background-color: #5887FF;
  color: #fff;
  border-color: #5887FF;
}

.drop-down__list-item:first-child {
  border-radius: 4px 4px 0 0;
}

.drop-down__list-item:last-child {
  border-radius: 0 0 4px 4px;
}

/*****************************
            LAYOUTS
******************************/
.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "aside header" "aside main";
  min-height: 100vh;
}

.aside {
  grid-area: aside;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

/*****************************
            PAGES
******************************/
.comments__text {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comments__author {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment__external {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__categories {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=main.css.map*/