/*****************************
            BASE
******************************/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

/*****************************
         COMPONENTS
******************************/
.header {
  background-color: green;
}

.aside {
  background-color: #161624;
  color: #fff;
  padding: 17px;
  width: 215px;
}

.aside__header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside__logo-text {
  font-weight: 700;
}

.menu-btn {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.menu-btn path {
  transition: fill-opacity 0.2s;
}

.menu-btn:hover path {
  fill-opacity: 1;
}

.aside__main {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.menu__item {
  position: relative;
}

.menu__header {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 44px;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 16px;
}

.menu__toggle-ico {
  margin-left: auto;
  width: 18px;
  height: 18px;
  background-image: url("../svg/arrow.svg");
  background-size: contain;
  background-position: center;
  transform: rotate(-90deg);
}

.menu__header path {
  transition: fill-opacity 0.2s;
}

.menu__header:hover {
  color: white;
}

.menu__header:hover path {
  fill-opacity: 1;
}

.menu__img-box {
  margin-right: 9px;
}

.sub-menu {
  height: 0;
  position: absolute;
  opacity: 0;
}

.menu__header--show ~ .sub-menu {
  height: auto;
  position: relative;
  opacity: 1;
}

.menu__header--show .menu__toggle-ico {
  transform: rotate(0);
}

.sub-menu__link {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sub-menu__link:hover {
  color: white;
}

.sub-menu__link::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-bottom: 5px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transition: border-color 0.2s;
}

.aside--hide {
  width: 55px;
}
.aside--hide .aside__header {
  justify-content: center;
}
.aside--hide .aside__logo-link {
  display: none;
}
.aside--hide .menu__img-box {
  margin-right: 0;
}
.aside--hide .menu__text {
  display: none;
}
.aside--hide .menu__toggle-ico {
  display: none;
}
.aside--hide .menu__item {
  display: flex;
  justify-content: center;
}
.aside--hide .sub-menu {
  z-index: -1;
  height: 0;
  position: absolute;
  opacity: 0;
}

/*****************************
            LAYOUTS
******************************/
.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "aside header" "aside main";
  min-height: 100vh;
}

.aside {
  grid-area: aside;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

/*****************************
            PAGES
******************************/

/*# sourceMappingURL=main.css.map*/