.page-header{
    display: flex;
    align-items: center;
    height: 60px;
}
.page-header__title{
    margin-right: auto;
    color: #171717;
    font-weight: 700;
    font-size: 24px;
    font-family: Inter;
}
