.title-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.title-input__label{
    color: rgba(#000, 0.65);
    margin-bottom: 10px;
}
.title-input__field{
    background-color: #e2e4ef;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
    display: block;
    font-family: Inter;
    color: rgba(#000, 0.85);
}
.title-input__field::placeholder{
    color: rgba(#000, 0.65);
    font-family: Inter;
}
.title-input__field:focus{
    outline: 2px solid rgba(88, 135, 255, 0.5);
}

