@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}




.icon-arrow-right:before {
    content: "\e905";
}
.icon-arrow-left:before {
    content: "\e906";
}
.icon-calendar1:before {
    content: "\e904";
}
.icon-calendar2:before {
    content: "\e953";
}
.icon-dots:before {
    content: "\e900";
}
.icon-dropdown:before {
    content: "\e901";
}
.icon-search:before {
    content: "\e902";
}
.icon-filter:before {
    content: "\e903";
}
